<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card text-center">
        <div class="card-body">
          <h1>NgXS</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 text-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4>Nuevo Post</h4>
          <app-nuevo-post></app-nuevo-post>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4>Listar Post</h4>
          <app-listar-post></app-listar-post>
        </div>
      </div>
    </div>
  </div>
</div>